/*pagina principal index*/

 body{
    margin: 0;
 }
 
h1{
    background-color: brown;
    color: white;
    font-size: 40px;
    width: auto;
    padding-left: 3%;
}

img{
    height: 200px;
    width: 350px;
    border: 2px solid lightcoral;
}

.platillo{
    font-family: Courier;
    background-color: lightcoral;
    color: white;
    padding-left: 2%;
    margin-bottom: 15px;
}

/*Visualizacion de los elementos*/

.section1, .section2, .section3, .section4{
    width: 354px;
    height: 300px;
    margin-left: 20px;
    display: inline-block;
}

/*Pagina de platillos*/
.lista{
    background-color: pink;
    max-width: 350px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 1px;
}

.ingredientes{
    font-family: courier;
    font-size: 22px;
    font-weight: bold;
    background-color: brown;
    color: white;
    padding-left: 10px;
}

p,
li{
    font-family: arial;
}

footer{
    background-color: lightcoral;
    text-align: center;
    padding-bottom: 10px;
}
